.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* Aspect ratio: 16:9 */
    height: 0;
    overflow: hidden;
}

/* Responsive iframe styling */
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70%;
    border: 0;
    border-radius: 20px;
}

/* Custom arrow styling */
.custom-arrow {
    position: absolute;
    top: 40%;
    /* Vertically center the arrow */
    transform: translateY(-50%);
    background-color: white;
    color: black;
    padding: 20px;
    border: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 20px;
    /* Ensure arrows are on top of the iframe */
}

.prev-arrow {
    left: 10px;
    /* Position the left arrow */
}

.next-arrow {
    right: 10px;
    /* Position the right arrow */
}

/* Adjust the dots at the bottom */
.slick-dots {
    bottom: 15px;
}

/* Increase size on iPhone and smaller devices */
@media only screen and (max-width: 600px) {
    .iframe-container iframe {
        width: 80%;
        /* Make it larger */
        height: 80%;
        /* Adjust height proportionally */
    }

    .custom-arrow {
        top:30%
    }
}