/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.center-content {
    display: flex;
    justify-content: center;
    /* Horizontally centers content */
    height: 100%;
    /* Full height of the section */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    background-image: url(/src/components/images/BackgroundImage.png);
}

/* Alternatively, apply the font to specific sections */
h1,
h2,
h3,
p {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

div::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in Chrome, Safari, and Opera */
}

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
