/* Adjust the sections to account for the fixed nav */
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    background-image: url(/src/components/images/BackgroundImage.png);
}

section {
    padding: 2rem;
    scroll-snap-align: start;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    color: white;
    cursor: pointer;
}

div {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in Chrome, Safari, and Opera */
}

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}