@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Adjust the sections to account for the fixed nav */
body, html {
    margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        background-color: black;
        color: white;
        background-image: url(/src/components/images/BackgroundImage.png);
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
}

h1,
h2,
h3,
p {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

section {
    scroll-snap-align: start;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    color: white;
    cursor: pointer;
}

div {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in Chrome, Safari, and Opera */
}

/* Container that will hold the title and center it */
.center-container {
    justify-content: center;
    /* Horizontally center */
    /* Vertically center */
    height: 100vh;
    /* Full viewport height */
}

/* Style the title if needed */
.center-title {
    font-size: 3rem;
    /* Adjust font size */
    text-align: center;
    /* Optional: center text alignment */
}